{% extends '../base.html' %} 

 {% load static %} {% load i18n %}
 {% block extra_css %}

<!-- Bootstrap CSS -->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
<link rel="stylesheet" href="{% static 'plugins/L.Control.Pan.css' %}">
<link rel="stylesheet" href="{% static 'plugins/L.Control.Zoomslider.css' %}">
<link rel="stylesheet" href="{% static 'plugins/L.Control.MousePosition.css' %}">
<link rel="stylesheet" href="{% static 'plugins/L.Control.Sidebar.css' %}">
<link rel="stylesheet" href="{% static 'plugins/Leaflet.PolylineMeasure.css' %}">
<link rel="stylesheet" href="{% static 'plugins/easy-button.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/mycss.css' %}">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'front.css' %}">

<script src="{% static 'leaflet-src.js' %}"></script>
<!-- <script src="src/jquery-3.2.0.min.js"></script> -->
<script src="{% static 'plugins/L.Control.Pan.js' %}"></script>
<script src="{% static 'plugins/L.Control.Zoomslider.js' %}"></script>
<script src="{% static 'plugins/L.Control.MousePosition.js' %}"></script>
<script src="{% static 'plugins/L.Control.Sidebar.js' %}"></script>
<script src="{% static 'plugins/Leaflet.PolylineMeasure.js' %}"></script>
<script src="{% static 'plugins/easy-button.js' %}"></script>
<script src="{% static 'plugins/leaflet-providers.js' %}"></script>
<script src="{% static 'plugins/leaflet-opencage/src/js/L.Control.OpenCageSearch.js' %}"></script>
<!-- <script src="{% static 'app.js' %}"></script> -->
<!-- <link rel="stylesheet" type="leaflet.wms.js" href="{% static 'css/component.css' %}"  /> -->
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
<link rel='stylesheet' href="{% static 'css/component.css' %}">
<script src="{% static 'plugins/leaflet.ajax.min.js' %}"></script>
<script src="{% static 'js/modernizr-custom.js' %}"></script>
<script src="{% static 'js/leaflet.wms.js' %}"></script>

<script src="{% static 'js/classie.js' %}"></script>
<!-- <script src="js/dummydata.js"></script> -->
<!-- <script src="src/js/main.js"></script> -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/myscript.js' %}"></script>


<!-- scripts for spinner -->

<script src="{% static 'spin/spin.js'%}"></script>
<script src="{% static 'js/leaflet.spin.min.js' %}"></script>

<!-- font-awesome -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


<!-- script for leaflet font awesome-->
<script src="{% static 'js/leaflet.awesome-markers.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/leaflet.awesome-markers.css' %}">



<!-- leaflet-messagebox-->
<script src="{% static 'leaflet-messagebox.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet-messagebox.css' %}">

<!-- leaflet-measure-->
<script src="{% static 'leaflet_measure/leaflet.measure.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet_measure/leaflet.measure.css' %}">


<!-- leaflet-search -->
<script src="{% static 'leaflet-search/leaflet-search.src.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet-search/leaflet-search.src.css' %}">


<!-- leaflet minimap -->
<script src="{% static 'leaflet-minimap/Control.MiniMap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet-minimap/Control.MiniMap.min.css' %}">

<script type='text/javascript' src='https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js'></script>


<!-- leaflet lagend graphic -->

<script src="{% static 'leaflet-legend-graphics/leaflet.wmslegend.js' %}"></script>
<link rel="stylesheet" href="{% static 'leaflet-legend-graphics/leaflet.wmslegend.css' %}">

<!-- <link rel="stylesheet" href=""/>
          <script src="leaflet-legend-graphics/leaflet.wmslegend.js"></script> -->




<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" /> {# Global stylesheets #}
<!-- <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet"> -->
<!-- <link href="icon" type = "image/png" href = "{% static 'images/trash-can-23640_960_720.png' %}"/> -->

<style>
    .select {
        background: rgb(255, 255, 255);
    }
    
    .select.highlight {
        background: rgb(26, 255, 0);
    }
</style>
{% block extra_map_css%} {% endblock extra_map_css%} {% endblock extra_css%} {% block content%}
<div id="mapdiv" class="col-md-12"></div>
{% block map_content%} {% endblock map_content%} {% endblock content%} {% block extra_javascript %}
<script src="{% static '/js/heatmap.js' %}"></script>
<script src="{% static '/js/leaflet-heat.js' %}"></script>
<script>
    // var mymap;

    // var source = L.wms.source(
    //     "https://geoserver2.communitygis.net/geoserver/wms", {
    //         "format": "image/png",
    //         "transparent": "true"
    //     }
    // );

    // mymap = L.map('mapdiv', {
    //     // center:[19.7515,75.7139],
    //     center: [19.7515, 75.7139],
    //     zoom: 7,
    //     zoomControl: false,
    //     attributionControl: false,
    //     messagebox: true,
    //     contextmenu: true,
    //     measureControl: false
    // });
    // mymap.messagebox.options.timeout = 5000;
    // mymap.messagebox.setPosition("bottomright");
    // lyrOSM = L.tileLayer.provider('OpenStreetMap.Mapnik');
    // lyrOSM2 = L.tileLayer.provider('OpenStreetMap.Mapnik');
    // lyrImagery = L.tileLayer.provider('Esri.WorldImagery');
    // mymap.addLayer(lyrOSM);
    // var miniMap = new L.Control.MiniMap(lyrOSM2, {
    //     toggleDisplay: true
    // }).addTo(mymap);
    // //  var miniMap = new L.Control.MiniMap(lyrOSM).addTo(mymap);

    // function round(value, precision) {
    //     var multiplier = Math.pow(10, precision || 0);
    //     return Math.round(value * multiplier) / multiplier;
    // }


    // function copyToClipboard(text) {
    //     var dummy = document.createElement("textarea");
    //     // dummy.style.display = 'none'
    //     document.body.appendChild(dummy);
    //     dummy.value = text;
    //     dummy.select();
    //     document.execCommand("copy");
    //     document.body.removeChild(dummy);
    // }

    // mymap.on('contextmenu', function(e) {
    //     copyToClipboard(e.latlng.lat + "," + e.latlng.lng);
    //     mymap.messagebox.show("<h6>Latitude:<b>" + round(e.latlng.lat, 4) + "</b> Longitude:<b>" + round(e.latlng.lng, 4) + "</b> copied to clipboard</h6>");
    // });



    // $('.select').click(function() {
    //     $(this).toggleClass('highlight')
    // })

    // $("#closebutton").click(function() {
    //     ctlSidebar.toggle();
    // });

    // objBasemaps = {
    //     "Open Street Maps": lyrOSM,
    //     "Imagery": lyrImagery
    // };

    // objOverlays = {};

    // // var ctlLayers = L.control.layers(objBasemaps, objOverlays).addTo(mymap);
    // var ctlSidebar = L.control.sidebar('side-bar').addTo(mymap);
    // var ctlPan = L.control.pan().addTo(mymap);

    // var ctlEasybutton = L.easyButton('fa fa fa-bars', function() {
    //     ctlSidebar.toggle();
    // }).addTo(mymap);
    // ctlSidebar.show();

    // var ctlZoomslider = L.control.zoomslider({
    //     position: 'topright'
    // }).addTo(mymap);

    // ctlAttribute = L.control.attribution({
    //     position: 'bottomleft'
    // }).addTo(mymap);
    // ctlAttribute.addAttribution('&copy; <a href="http://www.makerghat.org">makerGHAT</a>');

    window.onload = function() {
      var testdata = {
            max: 10,
            data :[
            {lat: 19.136497107036817, lng: 72.91415691375734, count: 5.31 }, //hostel1
            {lat: 19.13712553558602, lng: 72.912654876709, count: 4.99 }, //hostel2
            {lat: 19.136821457554422, lng: 72.9114854335785, count: 5.19  }, //hostel3
            {lat: 19.13696336070552, lng: 72.9100799560547, count: 6.49 }, //hostel4
            {lat: 19.135260514843615, lng: 72.90964007377626, count: 5.27 }, //hostle5
            {lat: 19.13592949209794, lng: 72.90666818618776, count: 6.30 }, //hostel6
            {lat: 19.135658353916185, lng: 72.9084759950638, count: 1.69  },  //hoste9
            {lat: 19.129034335196486, lng: 72.91580379009248, count: 7.55  },  //hostel0
            {lat: 19.133191482811714, lng: 72.91197359561922, count: 5.16 }, //hostel11
            {lat: 19.135551925723156, lng: 72.90501058101655, count: 4.07 },   //hostel2
            {lat: 19.13415314881135, lng: 72.90476918220521, count: 7.04  },   //hostel3
            {lat: 19.134730905928553, lng: 72.90596544742586, count: 7.93 },  //hostel4
            {lat: 19.137916135847366, lng: 72.91399598121644, count: 5.55 }, //hostel15
            {lat: 19.13779450528431, lng: 72.91307330131532, count: 6.59 }, //hostel16 
            {lat: 19.134305190353963, lng: 72.90835261344911, count: 9.96 },  //hostel17
            {lat: 19.13660100063135, lng: 72.90933966636659, count: 9.55 }//hostel18
        ]};

        var baseLayer = L.tileLayer(
          'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
            maxZoom: 18
          }
        );

        var cfg = {
          // radius should be small ONLY if scaleRadius is true (or small radius is intended)
          "radius": 2,
          "maxOpacity": .8,
          // scales the radius based on map zoom
          "scaleRadius": true,
          // if set to false the heatmap uses the global maximum for colorization
          // if activated: uses the data maximum within the current map boundaries
          //   (there will always be a red spot with useLocalExtremas true)
          "useLocalExtrema": true,
          // which field name in your data represents the latitude - default "lat"
          latField: 'lat',
          // which field name in your data represents the longitude - default "lng"
          lngField: 'lng',
          // which field name in your data represents the data value - default "value"
          valueField: 'count'
        };


        var heatmapLayer = new HeatmapOverlay(cfg);

        var map = new L.Map('mapdiv', {
          center: new L.LatLng(19.7515, 75.7139),
          zoom: 14,
          layers: [baseLayer, heatmapLayer]
        });

        heatmapLayer.setData(testdata);
    };

</script>
{% block extra_map_javascript%} {% endblock extra_map_javascript%} {% endblock extra_javascript %}
